# Get Dependencies
numpy 
pandas 
torch --index-url https://download.pytorch.org/whl/cu121 # Pytorch 2.1.1 - Windows - CUDA 12.1
torchvision --index-url https://download.pytorch.org/whl/cu121 
torchaudio --index-url https://download.pytorch.org/whl/cu121 
ultralytics  
comet_ml
openpyxl
scipy
scikit-learn 
 
